<!DOCTYPE html>
<html>
    <head>
        <title>Evil lady Birthday</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">  
    </head>

    <body>
        {% block javascripts %}     
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>       
        {% endblock %}

        <div  class="container" id="flashtext">
            <span class="type" style="--n:400">This is the flame of fate, make a wish and give the fire a poke until it tells you a secret!</span>

        </div>
        
        <div class="glow" onclick="myFunction()"></div>
        <div class="flame"></div>

        <div class="text" >
            {% for message in get_flashed_messages() %}
            <p> {{ message }}</p>
            {% endfor %}
        </div>
    </body>
</html>